{% include "widgets/head.njk" %} {% include "widgets/home/start.njk" %}

<div class="container">
  <div class="<div" class="col-md-6 p-3 p-md-5">
    <h3>
      <strong><a href="/">Netrunner UK Regionals</a></strong>
    </h3>
    <p>
      A group of TOs are planning a series of six community-run tournaments to
      take place across the UK between July and October this year. Exact
      locations and dates tbc in the coming weeks - there will be tournaments in
      Scotland, the North, the Midlands, East Anglia, the South East and the
      South West.
    </p>
    <p>
      Regionals attendees will have the chance to compete for unique prizing,
      including original alt-art cards, playmats and more. Plus, the winner of
      each Regional will receive a paid-for ticket to this year's UK Nationals.
    </p>
    <p>
      We don't have a shiny website like our counterparts across the pond, but
      we wanted to make this initial announcement to let you all in on the
      secret! If you'd like to be involved in any part of organising Regionals,
      please get in touch with one of the undersigned TOs.
    </p>
    <p>
      Yours cyberpunktually,<br />
      Baa Ram Wu, CobraBubbles, Dreadmaaw, Harmonbee, Haway, Loki37, MattOhNo,
      mcg, not_yeti, RoRo, sixtyten
    </p>
  </div>
</div>

{% include "widgets/home/intro.njk" %} {% include "widgets/home/content.njk" %}
{% include "widgets/main.njk" %} {% include "widgets/script.njk" %}
